<?xml version='1.0' encoding='utf-8'?>
<plugin id="outsystems-experts-plugin-forgerockplugin" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ForgeRockPlugin</name>
    <js-module name="ForgeRockPlugin" src="www/forgerockplugin.js">
        <clobbers target="cordova.plugins.outsystemsexperts.forgerockplugin" />
    </js-module>
    <dependency id="com.outsystems.firebase.cloudmessaging" url="https://github.com/OutSystems/cordova-outsystems-firebase-cloud-messaging.git#2.0.0"/>
    <platform name="android">
        <hook type="before_plugin_install" src="hooks/android_set_api_url.js"/>
        <hook type="before_compile" src="hooks/set_kotlin_version.js"/>
        <!--<hook type="after_plugin_install" src="hooks/android_patch_mainactivity.js"/>-->
        <hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
        <hook type="after_plugin_install" src="hooks/android_adjust_package_name.js"/>
        <hook type="after_plugin_install" src="hooks/android_import_forgerock_class.js"/>
        <hook type="after_plugin_install" src="hooks/update_fcmservice.js"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ForgeRockPlugin">
                <param name="android-package" value="com.outsystems.experts.forgerockplugin.ForgeRockPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/ForgeRockPlugin.java" target-dir="src/com/outsystems/experts/forgerockplugin" />
        <source-file src="src/android/AcceptReceiver.java" target-dir="src/com/outsystems/experts/forgerockplugin" />
        <source-file src="src/android/DenyReceiver.java" target-dir="src/com/outsystems/experts/forgerockplugin" />
        <source-file src="src/android/FcmService.java" target-dir="src/com/outsystems/experts/forgerockplugin" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
        </config-file>
            <config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:name='MainActivity']">
            <intent-filter>
                <action android:name="com.outsystems.experts.forgerocksample.PUSH_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.outsystems.experts.forgerockplugin.AcceptReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.outsystems.experts.forgerocksample.ACCEPT" />
                </intent-filter>
            </receiver>

            <receiver android:name="com.outsystems.experts.forgerockplugin.DenyReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.outsystems.experts.forgerocksample.DENY" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
            <service
                android:name="com.outsystems.experts.forgerockplugin.FcmService"
                android:enabled="true"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>
        <framework src="src/android/forgerock.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <!-- Hooks for Swift Support -->
        <hook type="before_plugin_install" src="hooks/ios_set_api_url.js"/>
        <hook type="before_prepare" src="hooks/comment_objc_class.js"/>
        <hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
        <hook type="after_plugin_add" src="hooks/add_swift_support.js" />
        
        <podspec>
          <pods use-frameworks="true">
            <pod name="FRAuthenticator" spec="~> 4.1.0" />
          </pods>
        </podspec>  
        
        <config-file parent="/*" target="config.xml">
            <feature name="ForgeRockPlugin">
                <param name="ios-package" value="ForgeRockPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/AppDelegate+ForgeRock.h" />
        <source-file src="src/ios/AppDelegate+ForgeRock.m" />
        <source-file src="src/ios/ForgeRockPlugin.swift" />
        <source-file src="src/ios/ForgeRockHelper.swift" />

    </platform>
</plugin>
